@model SuperDumpService.ViewModels.FileViewModel
@using SuperDumpService.Models;

@if (Model.File.Downloadable) {
	<a asp-controller="Home" asp-action="DownloadFile" asp-route-bundleId="@Model.BundleId" asp-route-dumpId="@Model.DumpId" asp-route-filename="@Model.File.FileInfo.Name">
		@Model.File.FileInfo.Name</a> <span class="filesize">(@SuperDumpService.Helpers.Utility.FormattedBytes(Model.File.SizeInBytes, 0))</span>
} else {
	@Model.File.FileInfo.Name
	<span class="filesize">(@SuperDumpService.Helpers.Utility.FormattedBytes(Model.File.SizeInBytes, 0))</span>
}