@using SuperDumpService.Models
@model IEnumerable<JiraIssueModel>

<ul class="list-unstyled">
	@foreach (var jiraIssue in Model) {
		bool resolved = jiraIssue.IsResolved();
		string strikethroughstyle = resolved ? "text-decoration: line-through" : string.Empty;

		<li>
			<a style="@strikethroughstyle" href="@jiraIssue.Url">@jiraIssue.Key</a>
			@if (resolved) {
				<span class="text-success">@jiraIssue.GetStatusName()</span>
			} else {
				<span class="text-danger">@jiraIssue.GetStatusName()</span>
			}
			<span class="text-muted">(@(jiraIssue.GetResolutionName() == null ? "Unresolved" : jiraIssue.GetResolutionName()))</span>
		</li>
	}
</ul>
