@model IEnumerable<SuperDumpService.Models.JiraIssueModel>

<ul class="list-unstyled">
	@foreach (var jiraIssue in Model) {
		<li>
			<a href="@jiraIssue.Url">@jiraIssue.Key </a>
			<font color="@jiraIssue.GetStatusColor()">@jiraIssue.GetStatusName()</font>
			(@jiraIssue.GetResolutionName())
		</li>
	}
</ul>
