@model SuperDumpService.ViewModels.BundleViewModel
@{
	ViewData["Title"] = "Created";
}

@if (Model.Status != SuperDumpService.Models.BundleStatus.Finished) {
	<h3>Analysis ID <strong>@Model.BundleId</strong></h3>
	<h4>..hang tight, bundle gets created..</h4>
	<script>
	setTimeout(function () {
		window.location.reload(1);
	}, 2000);
	</script>
} else {
	if (Model.DumpInfos.Count() == 1) {
		var item = Model.DumpInfos.First();
		<h3>
		Dump with id <strong><a asp-controller="Home" asp-action="Report" asp-route-bundleId="@item.BundleId" asp-route-dumpId="@item.DumpId">@item.DumpId</a></strong> successfully created.</h3>

		<p>You'll be redirected to the report...</p>
		<script>
			window.location.replace("/Home/Report?bundleId=@item.BundleId&dumpId=@item.DumpId");
		</script>
	} else {
	<h3>You uploaded a zip file with several dumps.</h3>
	<h4>Analysis ID <strong>@Model.BundleId</strong></h4>
	<ul>
		@foreach (var item in Model.DumpInfos) {
			<li>Dump with id <strong><a asp-controller="Home" asp-action="Report" asp-route-bundleId="@item.BundleId" asp-route-dumpId="@item.DumpId">@item.DumpId</a></strong> successfully created.</li>
		}
	</ul>
	}
}
