@model IEnumerable<SuperDumpService.ViewModels.BundleViewModel>
@{
	ViewData["Title"] = "Overview";
}
<h2>Overview of all dumps found on server</h2>
<hr />
<h3>(view in progress)</h3>
<div class="container">
	<ul class="legend">
		<li><span class="anomalies"></span> Anomalies detected in dump (see summary)</li>
	</ul>
	<br />
	<table class="table table-striped table-word-break">
		<thead>
			<tr>
				<th style="width: 80px;">Bundle ID</th>
				<th style="">Dumps</th>
				<th style="">Properties</th>
				<th style="width: 80px;">Status</th>
				<th style="width: 90px;">Created</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var bundle in @Model.OrderByDescending(bundle => bundle.Created)) {
				<tr>
					<td>
						@Html.ActionLink(bundle.BundleId, "BundleCreated", "Home", new { bundleId = bundle.BundleId })
					</td>
					<td>
						<ul class="flat">
							@foreach (var dump in bundle.DumpInfos) {
								<li>
									<a asp-controller="Home" asp-action="Report" asp-route-bundleId="@dump.BundleId" asp-route-dumpId="@dump.DumpId">@dump.DumpId (@System.IO.Path.GetFileName(dump.DumpFileName))</a>
								</li>
							}
						</ul>
					</td>
					<td>
						<ul class="flat">
							@foreach (var customProp in bundle.CustomProperties) {
								<li>
									<strong>@customProp.Key:</strong>
									<possible-link href="@customProp.Value" is-external="true">@customProp.Value</possible-link>
								</li>
							}
						</ul>
					</td>
					<td>@bundle.Status.ToString()</td>
					<td>@bundle.Created</td>
				</tr>}
		</tbody>

	</table>
</div>
