@model IEnumerable<SuperDumpService.ViewModels.BundleViewModel>
@{
	ViewData["Title"] = "Overview";
}
<h2>Overview of all dumps found on server</h2>
<hr />
<h3>(view in progress)</h3>
<div class="container">
	<ul class="legend">
		<li><span class="anomalies"></span> Anomalies detected in dump (see summary)</li>
	</ul>
	<br />
	<table class="table table-striped table-word-break">
		<thead>
			<tr>
				<th style="width: 100px;">Bundle ID</th>
				<th style="width: 200px;">Dumps</th>
				<th style="width: 100px;">Status</th>
				<th style="width: 150px;">Created</th>
				<th style="">Properties</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var bundle in @Model.OrderByDescending(bundle => bundle.Created)) {
				<tr>
					<td>@bundle.BundleId</td>
					<td>
						<ul>
							@foreach (var dump in bundle.DumpInfos) {
								<li>@Html.ActionLink("(" + dump.DumpId + ")", "Report", "Home", new { bundleId = dump.BundleId, dumpId = dump.DumpId })</li>
							}
						</ul>
					</td>
					<td>@bundle.Status.ToString()</td>
					<td>@bundle.Created</td>
					<td>
						@foreach (var customProp in bundle.CustomProperties) {
							<span>
								@customProp.Key:
								@if (@customProp.Value.StartsWith("http")) {
									<a href="@customProp.Value">@customProp.Value</a>
								} else {
									@customProp.Value
								}
							</span>
						}
					</td>
				</tr>}
		</tbody>

	</table>
</div>
