@model SuperDumpService.ViewModels.ReportViewModel

@{
	ViewData["Title"] = "Report";
}
@if (Model == null) {
	<h2>Requested dump does not exist.</h2>
	<p>... but might get created in a few seconds...</p>

	<script>
		setTimeout(function () {
			window.location.reload(1);
		}, 5000);
	</script>

} else {
	<h2>Dump Id: @Model.Id</h2>

	<div style="display: block; float: right;">
		@using (Html.BeginForm("Rerun", "Home")) {
			<input type="hidden" name="bundleId" value="@Model.BundleId" />
			<input type="hidden" name="dumpId" value="@Model.Id" />
			<input type="submit" value="Rerun Analysis" />
		}
	</div>

	<dl class="dl-horizontal smaller">
		<dt>Dump:</dt>
		<dd>@Model.Url</dd>

		<dt>Time:</dt>
		<dd>@Model.TimeStamp</dd>

		<dt>Jira:</dt>
		<dd>@Model.JiraIssue</dd>

		<dt>Job Name:</dt>
		<dd>@Model.FriendlyName</dd>

		<dt>Files:</dt>
		<dd>
			<ul class="flat">
				@foreach (var file in Model.Files) {
					<li><a asp-controller="Home" asp-action="DownloadFile" asp-route-bundleId="@Model.BundleId" asp-route-dumpId="@Model.Id" asp-route-filename="@file">@file</a></li>
				}
			</ul>
		</dd>
	</dl>

	<div class="container-fluid">
		@if (Model.HasAnalysisFailed) {
			<h2>Analysis failed with errors, no report avaliable.</h2>
			<p>Error: @Model.AnalysisError</p>
		} else if (Model.Result == null) {
			<h2>hang tight, still processing</h2>
			<script>
				setTimeout(function () {
					window.location.reload(1);
				}, 5000);
			</script>
		} else {
			<section>
				@{Html.RenderPartial("_Summary");}
			</section>
			<section>
				@{Html.RenderPartial("_System");}
			</section>
			<section>
				@{Html.RenderPartial("_Threads");}
			</section>
			<section>
				@{Html.RenderPartial("_Modules");}
			</section>
			<section>
				@{ Html.RenderPartial("_Domains");}
			</section>
			<section>
				@{Html.RenderPartial("_Memory");}
			</section>
		}
	</div>
}
