@model SuperDumpService.ViewModels.ReportViewModel
@using SuperDumpService.Helpers
@using SuperDumpService.Models

@{
	ViewData["Title"] = "Report";
}
@if (Model == null) {
	<h2>Requested dump does not exist.</h2>
	<p>... but might get created in a few seconds...</p>

	<script>
		setTimeout(function () {
			window.location.reload(1);
		}, 5000);
	</script>

} else {
	<h2>Dump Id: @Model.DumpId</h2>

	<div style="display: block; float: right;">
		@using (Html.BeginForm("Rerun", "Home")) {
			<input type="hidden" name="bundleId" value="@Model.BundleId" />
			<input type="hidden" name="dumpId" value="@Model.DumpId" />
			<input type="submit" value="Rerun Analysis" />
		}
	</div>

	<dl class="dl-horizontal smaller">
		@if (!string.IsNullOrEmpty(Model.BundleFileName) && Model.BundleFileName != Model.DumpFileName) {
			<dt>BundleFileName:</dt>
			<dd>@Model.BundleFileName</dd>
		}
		@if (!string.IsNullOrEmpty(Model.DumpFileName)) {
			<dt>DumpFileName:</dt>
			<dd>@Model.DumpFileName</dd>
		}

		<dt>Time:</dt>
		<dd>@Model.TimeStamp</dd>

		@foreach (var customProp in Model.CustomProperties) {
			<dt>
				@customProp.Key:
			</dt>
			<dd>
				<possible-link href="@customProp.Value" is-external="true"> @customProp.Value </possible-link>
			</dd>
		}

		<dt>Files:</dt>
		<dd>
			<ul class="flat">
				@foreach (SDFileInfo file in Model.Files.OrderBy(x => x.FileEntry.Type)) {
					<li>
						<a asp-controller="Home" asp-action="DownloadFile" asp-route-bundleId="@Model.BundleId" asp-route-dumpId="@Model.DumpId" asp-route-filename="@file.FileInfo.Name">
							@if (file.FileEntry != null) {
								if (file.FileEntry.Type == SDFileType.PrimaryDump) {
									<img src="~/images/bomb.png" />
								} else if (file.FileEntry.Type == SDFileType.WinDbg) {
									<img src="~/images/windbg.png" />
								}
							}
							@file.FileInfo.Name
						</a> <span class="filesize">(@SuperDumpService.Helpers.Utility.FormattedBytes(file.SizeInBytes, 0))</span>
					</li>
				}
			</ul>
		</dd>
	</dl>

	<div class="container-fluid">
		@if (Model.HasAnalysisFailed) {
			<h2>Analysis failed with errors, no report avaliable.</h2>
			<pre>Error: @Model.AnalysisError</pre>
		} else if (Model.Result == null) {
			<h2>hang tight, still processing</h2>
			<script>
				setTimeout(function () {
					window.location.reload(1);
				}, 5000);
			</script>
		} else {
			<section>
				@{Html.RenderPartial("_Summary");}
			</section>
			<section>
				@{Html.RenderPartial("_System");}
			</section>
			<section>
				@{Html.RenderPartial("_Threads");}
			</section>
			<section>
				@{Html.RenderPartial("_Modules");}
			</section>
			<section>
				@{ Html.RenderPartial("_Domains");}
			</section>
			<section>
				@{Html.RenderPartial("_Memory");}
			</section>
					}
	</div>
					}
