@model SuperDumpService.ViewModels.SimilarityModel
@{
	ViewData["Title"] = "Similarity";
}

@if (!string.IsNullOrEmpty(Model.Error) || Model.CrashSimilarity == null) {
	<stong>Error: @Model.Error</stong>
} else {
	<h3>Compare Dumps</h3>
	<dl>
		<dt>Overall</dt>
		<dd>@Model.CrashSimilarity.OverallSimilarity</dd>

		<dt>Stacktrace</dt>
		<dd>@Model.CrashSimilarity.StackTraceSimilarity</dd>

		<dt>Modules</dt>
		<dd>@Model.CrashSimilarity.ModulesSimilarity</dd>

		<dt>LastEvent</dt>
		<dd>@Model.CrashSimilarity.LastEventSimilarity</dd>

		<dt>Exception</dt>
		<dd>@Model.CrashSimilarity.ExceptionSimilarity</dd>
	</dl>

}